@import "tailwindcss";

@theme {
  --color-primary: #03AA77;
  --color-secondary: #D8A663;
  --font-sans: "Tajawal", "JannatLT", sans-serif;
}

body {
  font-family: var(--font-sans);
  background-color: #F9FAFB;
}